.swiper-profile {
  max-width: 300px;
  max-height: 300px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-edu {
  max-height: 100%;
  max-width: 100%;
}
